/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale_heart {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.25);
  }
}

@keyframes ignite_sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/******************* сердце!*******************************/

.main_heart {
  fill: var(--main_color_heart, black);
  transition: fill 0.1s linear;
}

.inside_heart {
  fill: transparent;
  transition: fill 0.3s linear;
}

.cross {
  transition: fill 0.3s 0.3s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .inside_heart {
  fill: var(--main_color_heart, black);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:hover .cross {
  fill: var(--main_color_heart, black);
  transition: fill 0.3s linear;
}

.like-icon:active .inside_heart {
  fill: var(--accent_color_heart, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .cross {
  fill: var(--accent_color_heart, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main_heart {
  fill: var(--accent_color_heart, red);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .inside_heart {
  fill: var(--accent_color_heart, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .cross {
  fill: var(--accent_color_heart, red);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .sparks {
  animation: ignite_sparks 0.3s 0.3s ease-in;
}

.like-icon.is-liked {
  animation: scale_heart 0.3s 0.1s ease-in;
}
/***********************************************************/
