/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family__main), sans-serif;
  font-size: var(--font-size, 18);
  font-weight: var(--font-weight__main_text, 410);
  line-height: 21px;
  letter-spacing: 0;
  background-image: var(--bg-grad, gray);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: var(
    --main-size,
    clamp(375px, calc(260.56338px + 30.516432vw), 700px)
  );
  background-color: #fff;
  margin: auto;
  padding: 130px 0;
  border: 2px solid #000;
  gap: 20px;
}

.card_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: /*100px*/ 98px auto;
  gap: 52px;
  inline-size: var(
    --main-size,
    clamp(375px, calc(260.56338px + 30.516432vw), 700px)
  );
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--card-gap, 25px);
  border: 2px solid #000;
  position: relative;
  background-color: #fff;
}

.card h2 {
  font-size: inherit;
}

.card__top_group {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  inline-size: inherit;
}

.card__batton_group {
  align-self: flex-end;
  display: flex;
  gap: 7px;
  align-items: end;
  justify-content: end;
  block-size: var(--card__dialog_OK_height, 38px);
  margin-inline-end: var(--button-margin, 25px);
  margin-block-end: var(--button-margin, 25px);
}

.card_title {
  margin: 4px 10px;
  vertical-align: middle;
  line-height: 125%;
  font-weight: 715;
}

.card_img_frame {
  inline-size: var(
    --main-size,
    clamp(375px, calc(260.56338px + 30.516432vw), 700px)
  );
  position: relative;
  overflow: hidden;
}

.card_img_frame::before {
  content: '</HTML>';
  position: absolute;
  inset-inline-end: var(--wotermark-margin, 25px);
  inset-block-start: var(--wotermark-margin, 25px);

  font-family: var(--font-family__for_decor), sans-serif;
  font-weight: var(--font-weight__for_decor);
  font-size: var(--font-size-decore, 14px);
  line-height: 100%;
  text-transform: uppercase;
  text-shadow:
    1px 1px #fff,
    -1px 1px #fff,
    -1px -1px #fff,
    1px -1px #fff;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card_img {
  width: 100%;
}

.card_text {
  margin: 0 var(--card-gap, 25px);
}

.dialog_save_floppy[open] {
  position: fixed;
  inset: center;
  max-inline-size: 353px;
  /*block-size: 191;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
  border: 2px solid #000;
}

.dialog_save_floppy::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.dialog_save_floppy__inform {
  display: grid;
  grid-template-columns: 39px auto;
  gap: 30px;
  align-items: center;
}
/*-----------------------------------------------------------*/

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent_color, #000);
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent_color, #000);
}

.button:hover {
  outline: none;
}

.button::before {
  content: '';
  display: block;
  background: var(--accent_color, #000);
  inline-size: 102%;
  block-size: 100%;
  position: absolute;
  inset: 0 -102%;
  transition: transform 0.5s ease-in-out;
  /* filter: opacity(0.8);/*invert(1);*/
}

.button:hover::before {
  transform: translateX(99%);
}

.like-icon {
  border: none;
  width: auto;
  height: 100%;
  overflow: hidden;
  transform-origin: center;
}

.card__like-button {
  inline-size: 130px;
  /*padding: 12.5px 17px;*/
  block-size: 100%;
}

.card__icon-button {
  background: inherit;
  border: transparent 2px solid;
  transition: outline 0.3s ease;
  block-size: 100%;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  /*outline: var(--accent_color, #000) 2px solid;*/
  border: var(--accent_color, #000) 2px solid;
}

.card__icon-button:hover {
  outline: none;
}

.button__run_dialog_save {
  padding: 15px 20px;
  gap: 8px;
  color: #fff;
}

.page__batton_icon {
  inline-size: 21px;
  block-size: 21px;
  stroke-width: 1;
  z-index: 1;
  mix-blend-mode: difference;
}

.button__dialog_OK {
  inline-size: 100%;
  padding: 9px 17px;
}

.button__text {
  font-family: var(--font-family__for_decor), sans-serif;
  font-weight: var(--font-weight__for_decor, 400);
  font-size: var(--font-size-decore, 14px);
  line-height: 90%;
  /*text-transform: uppercase;*/
  color: var(--button-text-color, #fff);
  z-index: 1;
  mix-blend-mode: difference;
}

.dialog__text {
  font-family: var(--font-family__for_decor), sans-serif;
  font-weight: var(--font-weight__for_decor, 400);
  font-size: var(--font-size-decore, 14px);
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
/*-----------------------------------------------------------*/
/*-- фильтры для картинок --*/

.img_filter_brightness {
  filter: brightness(130%);
}

.img_filter_contrast {
  filter: contrast(120%);
}

.img_filter_rotate {
  filter: hue-rotate(-90deg);
}

.img_filter_saturate {
  filter: saturate(158%);
}

.img_filter_sepia {
  filter: sepia(50%);
}

.img_filter_grayscale {
  filter: grayscale(0.7);
}

.img_filter_opacity {
  filter: opacity(0.5);
}

.img_filter_invert {
  filter: invert(0.7);
}
/* -- -- -- -- -- -- -- -- --*/

.text-decoration {
  font-family: var(--font-family__for_decor), sans-serif;
  font-weight: var(--font-weight__for_decor);
  font-size: clamp(0.875rem, calc(0.654723rem + 0.93985vw), 1.5rem);
  line-height: 100%;
  vertical-align: middle;
  text-transform: uppercase;
}

.text-decoration__header {
  font-size: clamp(3rem, 2.6479rem + 1.5023vw, 4rem);
  vertical-align: bottom;
}

.text-decoration__subheader {
  letter-spacing: 0;
}

.dialog_save_floppy .text-decoration {
  line-height: 150%;
}

@supports (font-variation-settings: normal) {
  .page {
    font-variation-settings: 'wdth' var(--font-weight__main_text, 410);
    padding: 100px 0;
  }

  .card h2 {
    font-variation-settings: 'wdth' var(--font-weight__main_heder, 715);
  }
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card_img_frame::before {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .header {
    padding: 122px 0;
  }

  .card__top_group {
    margin-block-end: 2px;
  }

  .page__batton_icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .button__run_dialog_save {
    flex-direction: column;
  }

  .dialog_save_floppy[open] {
    max-inline-size: 341px;
    padding: 30px 40px;
  }
}
